/* ===== 手機 /電腦高度100%自適應 ===== */
main {
  height: 100%;
  margin: 8rem 0 1rem 0;
}

@media (min-width: 400px) {
  html,
  body {
    height: 100%;
  }

  main {
    margin: 0;
  }
}

/* ===== Main Layout Styles ===== */
.user-profile {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-self: center;
}

.photo {
  width: 12rem;
  border-radius: 100%;
  padding: 1rem;
}

.name {
  font-weight: 500;
  font-size: 1.3rem;
  line-height: 2.1rem;
}

.email {
  font-size: 1em;
  line-height: 1.5rem;
}

.log-out-button,
.re-sign-in {
  background-color: #000;
  color: #fff;
  padding: 0.5rem 0;
  margin: 2rem 0;
  flex-grow: 0;
  cursor: pointer;
  display: none;
}

.loader-cover {
  display: block;
}

.loader {
  display: block;
}
